html,
body {
    height: 100%;
    margin: 0;
}

body {
    background: #f7fafc;
    display: flex;
    align-items: center;
    justify-content: center;
}

canvas {
    background: #ffffff;
    border: 1px solid #4a5568;
}